.dashboard {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-bottom: $sm-size;

        @media (min-width: $tablet-breakpoint) {
            flex-direction: row;
        }
    }

    main {
        display: flex;
        flex-direction: column;
    }
}

.info-page {
    text-align: center;

    button {
        margin-top: $sm-size;
    }
}

.dashboard__header {
    text-align: center;

    h2 {
        font-size: $font-lg;
        margin: 0;
        span {
            color: $green;
        }
    }

    p {
        color: $grey;
    }

    @media (min-width: $tablet-breakpoint) {
        text-align: left;
    }
}

.dashboard-section {
    padding: $md-size $lg-size;
    border: 1px solid $clr-border;
    border-radius: 1.5rem;
    margin: $md-size 0;
}

.dashboard__stats {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (min-width: $tablet-breakpoint) {
        flex-direction: row;
    }
}

.stat-box {
    width: 100%;
    margin-inline: 0;

    @media (min-width: $tablet-breakpoint) {
        margin: $sm-size;
    }
}

.stat-box__title {
    display: flex;
    justify-content: space-between;

    h3 {
        font-weight: 500;
        font-size: $font-sm;
        margin-bottom: 0;
    }
}

.stat-icon {
    display: flex;
    align-items: flex-end;
    svg {
        fill: $green;
    }
}

.stat-box__result {
    font-weight: 600;
    font-size: $font-lg;
    margin: $sm-size 0;
}

.stat-box__change {
    color: $grey;
    overflow-wrap: break-word;
}

.allocation-bar {
    margin-top: $md-size;
    margin-bottom: $lg-size;
    height: $lg-size;
    display: flex;
    justify-content: space-between;

    > div {
        height: 100%;
    }

    > div:first-child {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    > div:last-child {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}

.allocation-legend {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    > div {
        margin-inline: $md-size;
        display: flex;
        align-items: center;
    }
}

.allocation-legend__dot {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

.allocation-legend__label {
    margin-inline: $sm-size;
}

.allocation-legend__percent {
    color: $grey;
}
