.homepage {
    h1 {
        font-size: 4.5rem;
        margin: 0;

        span {
            color: $green;
        }

        @media (min-width: $tablet-breakpoint) {
            font-size: 7rem;
        }
    }
}

.homepage__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        align-items: flex-start;
        flex: 3;
    }
}

.homepage__image {
    display: flex;
    justify-content: center;
    margin: $lg-size 0;
    flex: 1;

    @media (min-width: $tablet-breakpoint) {
        img {
            height: 410px !important;
            width: 275px !important;
        }
    }

    @media (min-width: $desktop-breakpoint) {
        margin: 0;

        img {
            height: 550px !important;
            width: 350px !important;
        }
    }
}

.homepage__tagline {
    font-size: 2rem;
    text-align: center;

    @media (min-width: $desktop-breakpoint) {
        text-align: left;
        margin-top: -20rem;

        p {
            width: 50%;
        }
    }
}

.homepage__content {
    margin: 5rem 0;

    .app-feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: $lg-size;
        border-top: 3px solid $green;
        border-bottom: 3px solid $green;
        margin-top: 5rem;

        @media (min-width: $tablet-breakpoint) {
            margin: 5rem 2rem 0;
            flex-grow: 1;
            max-width: 32rem;
        }
    }

    .app-feature__text {
        text-align: center;
    }

    @media (min-width: $tablet-breakpoint) {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
