.expenses-list {
    padding: $lg-size;
}

.expenses-list__filters {
    display: flex;
    flex-direction: column;
    margin-bottom: $lg-size;

    > * {
        margin-bottom: $md-size;

        @media (min-width: $tablet-breakpoint) {
            margin-right: $md-size;
        }
    }

    @media (min-width: $tablet-breakpoint) {
        flex-direction: row;
        justify-content: flex-start;
    }
}

.expenses-list__table {
    th {
        &:hover {
            cursor: pointer;
            color: $green;
        }

        svg {
            height: $md-size;
            width: $md-size;
            float: right;
        }
    }

    tbody > tr {
        &:hover {
            cursor: pointer;
        }
    }
}

.expenses-list__pagination {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: $lg-size;

    .mantine-Group-root {
        margin-top: $lg-size;
        align-self: center;
    }

    @media (min-width: $tablet-breakpoint) {
        flex-direction: row;

        .mantine-Group-root {
            margin-top: 0;
        }
    }
}

.no-expenses-msg {
    text-align: center;
    margin-top: $lg-size;
}
