.icon-button {
    background: none;
    font-size: $md-size;
    padding: $sm-size 0 $sm-size $md-size;
    border: none;
    line-height: 1;

    svg {
        fill: black;
        width: $lg-size;
        height: $lg-size;
        &:hover {
            fill: $green;
        }
    }
}

.mantine-Button-root {
    @media (max-width: ($tablet-breakpoint - 1)) {
        width: 100%;
        max-width: 30rem;
    }
}
