.button {
    background: $green;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: $md-size;
    font-weight: 500;
    padding: $sm-size $md-size;
    border: none;
    border-radius: 0.75rem;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    &:hover {
        background: darken($green, 10%);
    }
}

.button--secondary {
    background: #888;
}

.button--icon {
    background: none;
    padding-right: 0;

    &:hover {
        background: none;
    }

    svg {
        fill: black;
        width: $lg-size;
        height: $lg-size;
        &:hover {
            fill: $green;
        }
    }
}

.button--body {
    @media (max-width: ($tablet-breakpoint - 1)) {
        width: 100%;
    }
}
