.button {
    background: $green;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: $md-size;
    font-weight: 500;
    padding: $sm-size $md-size;
    border: none;
    border-radius: 0.75rem;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    &:hover {
        background: darken($green, 10%);
    }
}

.button--secondary {
    background: #888;
}
