.expense-modal__body {
    display: flex;
    flex-direction: column;

    > *:not(:first-child) {
        margin-top: $sm-size;
    }

    .inline-fields {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > :nth-child(2) {
            margin-top: $sm-size;
        }

        @media (min-width: $tablet-breakpoint) {
            flex-direction: row;

            > :nth-child(2) {
                margin: 0 0 0 $sm-size;
            }
        }
    }

    .modal-buttons {
        display: flex;
        justify-content: center;

        button {
            margin-top: $lg-size;
            width: 50%;
        }

        button:nth-child(2) {
            margin-left: $sm-size;
        }
    }
}
