div.navbar {
    display: flex;
    justify-content: space-between;

    @media (min-width: $desktop-breakpoint) {
        margin-bottom: $lg-size;
    }
}

.navbar__logo {
    display: flex;
    align-items: center;
    font-size: 2.25rem;
    font-weight: 700;
    &:hover {
        cursor: pointer;
    }

    span {
        margin-left: 0.6rem;
        color: $green;
    }

    svg {
        margin-right: 0.75rem;
        width: $lg-size;
        height: $lg-size;
        fill: $green;
    }
}

.navbar__links {
    display: none;
    font-weight: 500;

    a {
        margin-right: $sm-size;
        &:hover {
            color: $green;
        }
    }

    button {
        margin-left: $lg-size;
    }

    @media (min-width: $tablet-breakpoint) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.navbar__button {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (min-width: $tablet-breakpoint) {
        display: none;
    }
}
