div.sidebar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
    z-index: 2;
    background: white;
    display: flex;
    flex-direction: column;
}

.sidebar__links {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    flex-grow: 3;

    a {
        margin-bottom: $xl-size;
        font-size: $font-xl;

        &:hover {
            color: $green;
        }
    }
}

.sidebar__login {
    padding-bottom: $lg-size;
    display: flex;
    justify-content: center;
}
