.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    font-size: $font-lg;

    svg {
        fill: black;
        width: 2.5rem;
    }

    @media (min-width: $tablet-breakpoint) {
        margin-left: $lg-size;
        font-size: $font-sm;
    }
}

.user-info__avatar {
    border-radius: 50%;
    margin-right: $sm-size;
    width: 7rem;

    @media (min-width: $tablet-breakpoint) {
        width: 4rem;
        margin-right: 0;
    }
}

.user-info__username {
    margin: 0 $sm-size;
}

.user-info-popover {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $font-md;
    padding: $md-size;
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0.5rem 0;
        }

        button:hover {
            color: $green;
        }
    }

    @media (min-width: $tablet-breakpoint) {
        font-size: inherit;
        padding: 0;
    }
}
