@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.2%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: $md-size;
    line-height: 1.6;
    margin: 0;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

a {
    text-decoration: none;
    color: inherit;
}

a.active {
    font-weight: bold;
}

.layout-wrapper {
    height: 100vh;
    position: relative;
}

.blob {
    position: absolute;
    z-index: -1;
    top: 20vh;
}
