// Colors
$green: #18a558;
$dark-green: #116530;
$blue-green: #21b6a8;
$neon-green: #a3ebb1;
$clr-border: #d8dee4;

// Breakpoints
$desktop-breakpoint: 1024px;
$tablet-breakpoint: 700px;

// Font sizes
$font-sm: 1.4rem;
$font-md: 1.8rem;
$font-lg: 2.5rem;

// Spacing
$sm-size: 1.2rem;
$md-size: 1.6rem;
$lg-size: 3.2rem;
$xl-size: 4.8rem;

:export {
    green: $green;
    darkGreen: $dark-green;
    blueGreen: $blue-green;
    neonGreen: $neon-green;
    clrBorder: $clr-border;
}
